<h2>Dashboard</h2>
<div class="ui two column grid">
  <div class="column">
    <h2>contenido..</h2>
  </div>
  <div class="column">
  <%=  for repository <- @repositories do %>
    <div class="attached ui segment">
       <%= repository.name %>
      <a href="/fossil/user/<%= @current_user.lower_name%>/repository/<%=  repository.lower_name%>/index">
        To Fossil
      </a>
    </div>
  <% end %>
  </div>
</div>
