<div class="ui center aligned container">
  <div class="ui huge header"><%= gettext "Welcome to %{name}!", name: "Efossils" %></div>

  <p class="lead">A productive multirepository for <b>fossils</b></p>
</div>
