<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Multirepository fossils">
    <meta name="author" content="Jovany Leandro G.C <bit4bit@riseup.net>">

    <title>Efossils!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="full height">

      <div class="ui text attached stackable menu">
        <div class="ui container">
          <a class="item" href="/">
            <i class="fas fa-home"></i><%= gettext "Home"%>
          </a>
          <a class="item" href="/explore/repositories"><%= gettext "Explore"%></a>
          <a class="item" href="/docs"><%= gettext "Docs"%></a>

        </div>
        <div class="ui right dropdown item">
          More
          <i class="dropdown icon"></i>
          <div class="menu">
            <%= link(gettext("Create Repository"), to: repository_path(@conn, :new), class: "item") %>
          </div>
        </div>
        <div class="right item">
          <%= link(gettext("Logout"), to: session_path(@conn, :delete), method: :delete, class: "ui button")%>
        </div>
      </div>



      <div class="ui container">

        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        
        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </div> <!-- /container -->
    <footer>
      <div class="ui borderless menu">
        <div class="ui left item ">
          Efossils
        </div>
        <div class="ui right item links">
          
        </div>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
