<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Multirepository fossils">
    <meta name="author" content="Jovany Leandro G.C <bit4bit@riseup.net>">

    <title>Efossils!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="full height">

      <div class="ui text attached stackable menu">
        <div class="ui container">
          <a class="item" href="/">
            <i class="fas fa-home"></i><%= gettext "Home"%>
          </a>
          <a class="item" href="/explore/repositories"><%= gettext "Explore"%></a>
        </div>
        <div class="right item">
          <a class="item" href="/sessions/new">
            <i class="octicon octicon-sign-in"></i><%= gettext "Sign In" %>
          </a>
        </div>
      </div>


      <div class="ui container">
        
        <%= if message = get_flash(@conn, :info) do %>
          <p class="ignored info ui message" role="message"><%= message %></p>
        <% end %>
        <%= if message = get_flash(@conn, :error) do %>
          <p class="danger ui message" role="message"><%= message%></p>
        <% end %>
        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </div> <!-- /container -->
    <footer>
      <div class="ui borderless menu">
        <div class="ui left item ">
          Efossils
        </div>
        <div class="ui right item links">
          
        </div>
      </div>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
