<!DOCTYPE html>
<html lang="en">
  <head>
    <!--
         # Efossils -- a multirepository for fossil-scm
         # Copyright (C) 2018  Jovany Leandro G.C <bit4bit@riseup.net>
         #
         # This file is part of Efossils.
         #
         # Efossils is free software: you can redistribute it and/or modify
         # it under the terms of the GNU Affero General Public License as
         # published by the Free Software Foundation, either version 3 of the
         # License, or (at your option) any later version.
         #
         # Efossils is distributed in the hope that it will be useful,
         # but WITHOUT ANY WARRANTY; without even the implied warranty of
         # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
         # GNU Affero General Public License for more details.
         #
         # You should have received a copy of the GNU Affero General Public License
         # along with this program.  If not, see <https://www.gnu.org/licenses/>.
    -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Multirepository fossils">
    <meta name="author" content="Jovany Leandro G.C <bit4bit@riseup.net>">

    <title>Efossils!</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="full height">

      <div class="ui text attached stackable menu">
        <div class="ui container">
          <a class="item" href="/">
            <i class="octicon octicon-home"></i><%= gettext "Home"%>
          </a>
          <a class="item" href="/explore/repositories"><%= gettext "Explore"%></a>
        </div>
        <div class="right item">
          <a class="item" href="/sessions/new">
            <i class="octicon octicon-sign-in"></i><%= gettext "Sign In" %>
          </a>
        </div>
      </div>


      <div class="ui container">
        
        <%= if message = get_flash(@conn, :info) do %>
          <p class="ignored info ui message" role="message"><%= message %></p>
        <% end %>
        <%= if message = get_flash(@conn, :error) do %>
          <p class="danger ui message" role="message"><%= message%></p>
        <% end %>
        <main role="main">
          <%= render @view_module, @view_template, assigns %>
        </main>
      </div>
    </div> <!-- /container -->
    <footer>
      <%= render "footer.html" %>
    </footer>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
